* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #111;
    color: white;
}

/* ---------------------------navbar------------------------------- */

nav {
    width: 98%;
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 2px 5px orangered;
    margin: 10px;
    
}

nav ul li {
    display: inline;
    margin: 0px 20px 0px 0px;
    position: relative;
    cursor: pointer;
    font-size: 1rem;
}

nav ul li::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: orangered;
    top: 20px;
    left: 50%;
    transition: all .2s linear;
}

nav ul li:hover::before{
    width: 100%;
    transform: translateX(-50%);
}

nav ul li:hover {
    color:  orange;
}

.logo {
    margin: 0px 0px 0px 20px;
}

nav button {
    width: 100px;
    height: 40px;
    background-color: orangered;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
    transition: scale .3s linear;
}

.button button:hover {
    transform: scale(1.1);
}

nav ul li a {
    text-decoration: none;
    color: white;
}


/* -----------------------main area------------------------------- */

.container {
    display: flex;
}

aside {
    width: 20%;
    height: 89vh;
    background-color: #222;
    margin-left: 10px;
}




/* ------------------------------aside---------------------------- */

aside {
    display: flex;
}

.timeline {
    width: 5px;
    height: 90%;
    background-color: white;
    margin: 20px 10px 0px 50px;
    border-radius: 50px;
    position: relative;
}

aside span {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: orangered;
    top: 5%;
    left: -5px;
}

aside .second {
    position: absolute;
    top: 17.5%;
}

aside .third {
    position: absolute;
    top: 29.5%;
}

aside .fourth {
    position: absolute;
    top: 42%;
}

aside .fifth {
    position: absolute;
    top: 54%;
}

aside p {
    width: 100px;

}

aside .timeline-content {
    margin: 27px 10px 0px 15px;
    cursor: pointer;
}

.timeline-content p:hover {
    transform: scale(0.9);
    color: orangered;
}


aside .timeline-content p {
    padding: 20px 0px 30px;
}

.timeline-status {
    position: absolute;
    top: 0;
    width: 5px;
    height: 10%;
    background-color: orangered;
    animation: time .6s linear;
}

@keyframes time {
    from {
        height: 0;
    }

    to {
        height: 10%;
    }
}



/* ----------------------------problem container--------------------- */

.problems-container {
    width: 77.4%;
    height: 89vh;
    background-color: #222;
    margin-left: 10px;
    font-size: 1.2rem;
    line-height: 1.5;
    overflow: auto;
}

.main-heading {
    margin-left: 20px;
}

.main-heading ul li {
    margin-left: 60px;
}

.problems-container h2 {
    text-align: center;
}

/* -----------------------Problems list----------------------- */
.Problems-List {
    margin-top: 20px;
    color: #111;
}

.HTML-Problems {
    margin: 20px 40px;
}

#faq1 {
    display: none;
}

.faq-question {
    display: block;
    width: 90%;
    height: 50px;
    background-color: white;
    padding: 10px 0px 0px 20px;
    cursor: pointer;
    transition: background .3s ease-in;
    border-radius: 5px;
    
}

.faq-question:hover {
    background-color: orangered;
}

.faq-answer {
    display: none;
    width: 90%; 
    background-color: #111;
    color: white;
    padding: 10px 0px 10px 20px;
    box-sizing: border-box; 
}

#faq1:checked ~ .faq-question{
    background-color: orangered;
}

#faq1:checked  .timeline-status {
    height: 20%;
}

#faq1:checked ~ .faq-answer {
    display: block;
}

.faq-content {
    display: flex;
    justify-content: space-between;
}

.faq-content .symbol {
    margin-right: 30px;
    font-size: 1.8rem;
    margin-top: -10px;
}


/* ----------------------sub topics--------------------- */

#html1, #html2, #html3, #html4, #html5, #html6, #html7, #html8, #css {
    display: none;
}
.topic1 {
    width: 98%;
    background-color: #222;
    display: block;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 30px;
    box-shadow: 3px 5px 10px orangered;
}

.topic1-answer {
    display: none;
    margin: 0px 0px 10px 0px;
    background-color: #333;
    width: 98%;
}

#html1:checked ~ .topic1-answer {
    display: block;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    text-align: center;
     
}

tr, td, th{
    border: 1px solid black;
}

#html2:checked ~ .topic2-answer {
    display: block;
}

#html3 {
    display: none;
}

#html3:checked ~ .topic3-answer {
    display: block;
}

#html4:checked ~ .topic4-answer {
    display: block;
}

#html5:checked ~ .topic5-answer {
    display: block;
}

#html6:checked ~ .topic6-answer {
    display: block;
}

#html7:checked ~ .topic7-answer {
    display: block;
}

#html8:checked ~ .topic8-answer {
    display: block;
}


#css:checked ~ .css-answers  {
    display: block;
}


















